@using MagazynierApp.Shared
 

<div class="progress">
    <div class="progress-bar progress-bar-striped @_barStyle @(Product.NeedToRefill?"progress-bar-animated":"") " role="progressbar" aria-valuenow="@_actual" aria-valuemin="0" aria-valuemax="@_max"
         style="width:@((int)(_actual * 100.0 / _max))%">
        @_actual / @_max
    </div>
</div>

@code {
    [Parameter] public Product Product { get; set; }

    int _max;
    int _actual;
    string _barStyle = "";

    protected override void OnInitialized()
    {
        _max = Product.MaxQuantity;
        _actual = Product.Quantity;
        
        if (_actual*100.0 / _max >= 50)
            _barStyle = "bg-success";
        else if(_actual*100.0/_max < 50 && _actual*100.0/_max >=20)
            _barStyle = "bg-warning";
        else if(_actual*100.0/_max < 20)
            _barStyle = "bg-danger";
    }
}