@page "/"
@using System.Threading
@inject NavigationManager uriHelper;

<h1>Hello, world!</h1>
<h2>Opcjonalnie: Lista maszyn mało szczegółowa</h2>
<h2>Opcjonalnie: Alerty z ostatniego przedziału czasu np dzień</h2>
