@page "/MyMachines"
@using MagazynierApp.Shared
@using System.Globalization
@inject HttpClient HttpClient
@inject IJSRuntime JSRuntime
@inject User User

<h3>Moje maszyny</h3>

<div class="main">
    @if (_machinesList != null)
    {
        @foreach (var machine in _machinesList)
        {
            <MachineCard Machine="machine"/>
        }
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</div>

@code {
    Machine[] _machinesList;
    DateTime _lastUpdated;
    
    protected override async Task OnInitializedAsync()
    {
        _machinesList = await HttpClient.GetFromJsonAsync<Machine[]>("machines");
        _lastUpdated = DateTime.Now;
        _ = RequestNotificationSubscriptionAsync();
    }
    
    async Task RequestNotificationSubscriptionAsync()
    {
        var subscription = await JSRuntime.InvokeAsync<NotificationSubscription>("blazorPushNotifications.requestSubscription");
        if (subscription != null)
        {
            try
            {
                await User.SubscribeToNotifications(subscription);
            }
            catch (Exception ex)
            {
                Console.WriteLine(ex);
            }
        }
    }
    
}